<style>
	th {
          
            text-align: center;
            color: #ffffff;
            background: #22629f;
            
        }

         td {
            background: #A9C6EE;
            text-align: center;
          }

          table tr:not(:first-child){
                cursor: pointer;transition: all .25s ease-in-out;
            }
        table tr:not(:first-child):hover{opacity: 0.8;}
        

</style>

<div class="container" ng-controller="AdminCtrl">
  <h2>Reporte para Departamento de Becas</h2>
    <br>
    <div class="row">
      <table id="table" class="table">
            <tr>
                <th ng-repeat="(header, value) in reporte3[0]">{{header}}</th>
            </tr>
            
            <tr ng-repeat="row in reporte3 | filter:searchText">
                <td ng-repeat="cell in row">{{cell}}</td>
            </tr>
        </table>    
    </div>
    <br>
    <p><button class="btn" type="button" ng-click="generarBecas()">Generar</button>

  </div>