   <style>
        th {
          
            text-align: center;
            color: #ffffff;
            background: #22629f;
            
        }

         td {
            background: #A9C6EE;
            text-align: center;
          }
    </style>


    <div class="container" ng-init="loadJSON()">
          <br>
          <div class="row">
            <h1>Datos Generales</h1>
              <table id="table" class="table">
                    <tr>
                        <th>Nombre</th>
                        <td>{{data.ID}}</td>
                    </tr>
                    <tr>
                        <th>Primer Apellido</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Segundo Apellido</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Carné</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Imagen Asociada</th>
                        <td><img src="" width="1000" height="700"></td>
                    </tr> 
                    <tr>
                        <th>Cédula</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Imagen Asociada</th>
                        <td><img src="" width="1000" height="700"></td>
                    </tr> 
                    <tr>
                        <th>Teléfono</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Correo Electrónico</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Promedio Ponderado del Semestre Anterior</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Imagen Asociada</th>
                        <td><img src="" width="1000" height="700"></td>
                    </tr> 
                    <tr>
                        <th>Promedio Ponderado General</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Imagen Asociada</th>
                        <td><img src="" width="1000" height="700"></td>
                    </tr>
                    <tr>
                        <th>Créditos Aprobados el Semestre Anterior</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Imagen Asociada</th>
                        <td><img src="" width="1000" height="700"></td>
                    </tr>
                    <tr>
                        <th>Años Como Estudiante Activo en el TEC</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Créditos Aprobados en el TEC</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Imagen Asociada</th>
                        <td><img src="" width="1000" height="700"></td>
                    </tr>
                </table>
                <h1>Horas Semanales de Preferencia</h1>
                <table id="table" class="table">
                    <tr>
                        <th>Horas</th>
                        <td></td>
                    </tr>
                </table>
                <h1>Información Bancaria</h1>
                <table id="table" class="table">
                    <tr>
                        <th>Banco</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Número de Cuenta</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Imagen Asociada</th>
                        <td><img src="" width="1000" height="700"></td>
                    </tr> 
                </table>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                  <button class="btn btn1" type="button" ng-click="cancelar()">Cancelar</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn" type="button" ng-click="atras()">Atrás</button>
                </div>
              </div>
    </div>